# Игнорируем папку node_modules
node_modules/

# Игнорируем лог-файлы
*.log

# Игнорируем файлы временных процессов
*.tmp
*.swp

# Игнорируем файлы операционных систем
.DS_Store
Thumbs.db

# Игнорируем файлы конфигурации IDE (например, VS Code)
.vscode/
.idea/